<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- jquery -->
<script src="webjars/jquery/1.12.4/jquery.min.js"></script>

<!-- bootstrap -->
<link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"  />
<link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css"  />
<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- bootstrap-select -->
<link rel="stylesheet" href="webjars/bootstrap-select/1.12.2/css/bootstrap-select.min.css" />
<script src="webjars/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

<head>
<title>USS-Nautilus</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="container theme-showcase" role="main">

		<div class="page-header">
			<h1>All check received</h1>
		</div>

		<div class="margin-bottom">
			<button type="button" class="btn btn-info" value="Input Button" th:onclick="'location.href = \''+@{/cleanAll}+'\';'">Clean all</button>
			<button type="button" class="btn btn-info" value="Input Button" th:onclick="'location.href = \''+@{/old}+'\';'">Refresh</button>
		</div>
		
		<div class="panel panel-default" th:each="entrySet: ${itemsByHost.entrySet()}">
			<div class="panel-heading">
				<h3 class="panel-title" th:text="'Host : ' + ${entrySet.getKey()}">Host</h3>
			</div>
			<div class="panel-body">
				<div class="row header margin-bottom">
					<div class="col-md-2">
						<strong>Host</strong>
					</div>
					<div class="col-md-2">
						<strong>Check</strong>
					</div>
					<div class="col-md-2">
						<strong>State</strong>
					</div>
					<div class="col-md-2">
						<strong>Output</strong>
					</div>
					<div class="col-md-3">
						<strong>Long Output</strong>
					</div>
					<div class="col-md-1">
						<strong>Save</strong>
					</div>
				</div>
				<div class="row margin-bottom" th:each="item: ${entrySet.getValue()}">
					<form action="#" th:action="@{/old}" th:object="${formItem}" method="post">
						<input name="id" type="text" class="hide" th:value="${item.getId()}" />
						<div class="col-md-2" th:text="${item.getHostName()}">Host</div>
						<div class="col-md-2" th:text="${item.getCheckName()}">Check</div>
						<div class="col-md-2">
							<select name="state" class="selectpicker">
								<option th:selected="${item.getState().name()} == OK" value="OK" data-content="&lt;span class='label label-success'&gt;OK&lt;/span&gt;">OK</option>
								<option th:selected="${item.getState().name()} == WARNING" value="WARNING" data-content="&lt;span class='label label-warning'&gt;WARNING&lt;/span&gt;">WARNING</option>
								<option th:selected="${item.getState().name()} == CRITICAL" value="CRITICAL" data-content="&lt;span class='label label-danger'&gt;CRITICAL&lt;/span&gt;">CRITICAL</option>
								<option th:selected="${item.getState().name()} == UNKNOWN" value="UNKNOWN" data-content="&lt;span class='label label-default'&gt;UNKNOWN&lt;/span&gt;">UNKNOWN</option>
								<option th:selected="${item.getState().name()} == FLAPPING" value="FLAPPING" data-content="&lt;span class='label label-info'&gt;FLAPPING&lt;/span&gt;">FLAPPING</option>
							</select>
						</div>
						<div class="col-md-2">
							<input name="output" type="text" class="form-control" th:value="${item.getOutput()}" />
						</div>
						<div class="col-md-3">
							<textarea name="longOutput" class="form-control" th:text="${item.getLongOutput()}" rows="1" cols="50"></textarea>
						</div>
						<div class="col-md-1">
							<button type="submit" class="btn btn-default">
								<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

<style>
.btn-default {
	text-shadow: none !important;
}

.header {
	border-bottom: 2px solid #ddd;
}

.margin-bottom {
	margin-bottom: 5px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
	.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3,
	.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
	.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
	.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
	.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3,
	.col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-right: 5px !important;
	padding-left: 5px !important;
}

.bootstrap-select {
	width: 120px !important;
}
</style>
</html>