@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.fill-remaining-space {
	flex: 1 1 auto;
}

.item-info {
	margin-top: 10px;
}

.small-margin.mat-mini-fab {
	margin: 5px;
}

.item-part {
	background: #c7c7c7;
	padding: 10px;
	margin-bottom: 10px;
}